.default {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5rem;
}

.title {
  color: var(--color-text);
  font-size: 1.5rem;
  line-height: 2rem;
}

.body {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5rem;
}

.caption {
  color: var(--color-text);
  font-size: 0.75rem;
  line-height: 1rem;
}
