/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
li,
figure,
hr,
fieldset,
legend,
table,
caption,
tfoot,
thead,
tbody,
tr,
th,
td,
menu {
  margin: 0;
}

/* Reset list-style */
ul,
ol,
menu,
li {
  list-style: none;
}

/* Reset list-style-type */
ol,
ul,
menu,
li {
  list-style-type: none;
}

/* Reset border */
*,
*::before,
*::after {
  border-style: solid;
  border-width: 0;
  border-color: currentColor;
}

/* Reset background */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
li,
figure,
hr,
fieldset,
legend,
table,
caption,
tfoot,
thead,
tbody,
tr,
th,
td,
menu {
  background: transparent;
}

/* Reset font */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
li,
figure,
hr,
fieldset,
legend,
table,
caption,
tfoot,
thead,
tbody,
tr,
th,
td,
menu {
  font-size: 100%;
  font-weight: 400;
  font-family: inherit;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.15;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  tab-size: 4px;
  hyphens: manual;
}

/* Reset table */
table {
  border-collapse: separate;
  border-spacing: 2px;
}

/* Reset table cell */
th,
td {
  border-color: currentColor;
  border-image: none;
}

/* Reset quotes */
blockquote,
q {
  quotes: none;
}

/* Reset user agent stylesheet */
input,
textarea,
select,
button,
meter,
progress,
details {
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb !important;
}

/* Hide default Moz bar */
input[type="range"] {
  -moz-appearance: textfield;
}

/* Hide default iOS bar */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --color-blue-100: #ddeff0;
  --color-blue-700: #005a5f;
  --color-gray-100: #efefef;
  --color-background: #ffffff;
  --color-text: #222222;

  --max-width-app: 600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue-100: #062b2d;
    --color-blue-700: #ddeff0;
    --color-background: #000000;
    --color-text: #efefef;
  }
}

body {
  background-color: var(--color-background);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;

  background-color: var(--color-gray-100);
  color: var(--color-text);

  max-width: var(--max-width-app);
  margin: 0 auto;
}
