.default {
  color: var(--color-blue-700);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--color-blue-100);
  transition: all 0.2s ease-in-out;
}
